.header {
    padding: 10px 0 9px;
    background-color: #219CC5;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

.header-logo {
    color: #FFFFFF;
    font-size: 24px;
}

.header-nav, .header-login {
    font-size: 14px;
}

.header-nav ul {
    display: flex;
}

.header-nav li+li {
    margin-left: 6px;
}

.header-nav a, .header-login {
    padding: 7px 5px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.header-nav img, .header-login img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.menu-icon {
    display: none;
}

@media (max-width: 749px) {
    .header-nav, .header-login {
        display: none;
    }
    .menu-icon {
        display: block;
    }
}